/*
 @author Sônia Mara de Sá
*/

body {
    background-color:#f2f2f2;
}


a:link {
    text-decoration:none;   
}
a:visited {
    text-decoration:none;  
}
a:hover {
    text-decoration:none;   
}


header {
    background-color: #2F2D3E;
    padding-top: 4em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    
}

#imagemcab {
    height: 10em;

}

.imagembd { 
    height: inherit;
}


#divBusca{
    border:solid 1px #c4943d;
    border-radius:20px;
    min-width:150px;
    width: 250px;
    
}

#txtBusca{
    color: white;
    float: left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    min-width:110px;
    width: 220px;
    outline: none;
}

.categorias, .dropdown-menu{
    background-color: #c4943d;
    color: #2F2D3E;
    font-weight: bold;
   
}


nav.navbar-background{
	background:#2F2D3E;
}


.navbar-light .navbar-nav .nav-link{
	color: #d1ab66;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: white;
}

.navbar-light .navbar-toggler{
	color: #c4943d;
    border-color: #2F2D3E;
}

.divisor{
	width: 1px;
	background: #c4943d;
	margin: 12px 15px;
}


.navbar-cat .nav-link{
    color: #2F2D3E; 
}

.navbar-cat .nav-link:hover{
    color: white;
}

.navbar-cat .navbar-toggler{
    color: #2F2D3E;
	border-color: #c4943d;
}

.search {
    color: #c4943d;
    align-items: right;
}


.menu {
    background-color: transparent;
}

h4 {
    background: linear-gradient(90deg, #C5C2D3, #f2f2f2);
    color: #c4943d;
    padding: 5px;
    margin-top: 1.5em;
}

h5 {
    color: #c4943d;
}


footer{
	background:#2F2D3E;
	padding: 30px 0px 20px 0;
    position: relative;
    color: white;
    list-style: none;
    text-decoration: none;
    margin-top: 2em;
}

footer a{
    text-decoration: none;
    color: white;
    text-size-adjust: 30px;
}

footer a:link{
    color: #c4943d;
    font-size: 50px ;
}
footer a:hover{
    color: #c4943d;
    font-size: 50px ;
}

.imgfooter {
  width: inherit;
}

.redessociais {
   text-align: center;
}


.rodape {
    margin-bottom: 1.5em;
}

.imgpro {
    width: inherit;
    text-align: center;
    padding-top: 2em;
}


.imgpro p, h6{
    color: black;
}

.imgpro p{
    padding-top: 1em;
    font-weight: bold;
}

.button {
    padding-top: 1em;
    text-align: center;
}

h2{
   padding: 1.5em;
   padding-top: 0.5em;
   color: #2F2D3E;
   text-align: center;
}

#principal {
    align-items: center;
    
}

legend {
    color: #c4943d;
}


@media (max-width: 575.98px) { 
    #imagemcab {
        height: 5em;
    
    }
    
    .imagembd { 
        height: inherit;
    }

    #divBusca{
        width: 120px;
    }
    
    #txtBusca{
        padding-left:5px;
        font-style:italic;
        font-size:14px;
        height:25px;
        width: 120px;
        outline: none;
    }

}

@media (max-width: 930px) { 
 #categoria{
     font-size: 0.8em;
 }
}

#container {
	width: 95%;
	background-color: #DFDEE7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 40px;
    text-align: center;
    padding: 15px;
}

 #container img {
    width: 120px;
    height: 120px;
    border-radius: 80px;
} 


#containerimg {
    width: 120px;
    height: 120px;
	margin-top:-80px;
    margin-bottom: 30px;
    border-radius: 80px;
    background-image: url(media/perfil.png);
    background-size: 120px;
     
} 

#containerperfil {
    display: flex;
    justify-content: center;
    align-items: center;
}


#uploaded_image{
    position: absolute;
    z-index: 1;

}


#inputimg {
    height: 120px;
	width: 120px;
    z-index: 2;
    border-radius: 80px;
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5em;

}

#inputimg:hover{
    background-color: rgba(20, 20, 20, 0.7);
    color: white;
}

input[type="file"] {
    display: none;
}



#cadastroc {
    text-align: justify;
}

#footer1 {
    text-align: center;
    color: #736D96;
}

.produtosslider {
   margin-bottom: 3em;
   margin-left: 30px;
   margin-right: 30px;
}

#modal {
    text-transform: uppercase;
    color: #2F2D3E;
    font-weight: bold;
    
}